html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 50px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #000000;
}


html {
  background-color: #ffffff;
}

body {
  width: 1220px;
  margin: 0 auto;
  background-color: #fffff0;
  padding: 0 20px 20px 20px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #f00fff;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
